<!----<p>index-components works!</p>-->
<h3> Component Form</h3>
    <form #componentForm="ngForm" (ngSubmit)="createComponent()" >
        
       
    
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 [(ngModel)]="name2" name="name">
        </div>
    
        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" class="form-control" id="price"
                 [(ngModel)]="price2" name="price">
        
        </div>
    
    
        <div class="form-group">
            <label for="stock">Stock</label>
            <input type="text" class="form-control" id="stock"
                   [(ngModel)]="stock2" name="stock">
          
          </div>
    
        
    
    
          <button type="submit" class="btn btn-info me-2">Create Component</button>
          
       
    
            
    
    </form>
    

    
    <div *ngFor="let component of components"> {{component.idComponent }} - {{component.name}} - {{component.price}} - {{component.stock}}  
    
      <div class="center">
    
      <button (click)="showComponent(component)" type="button" class="btn btn-primary me-2">Show Component</button> 
    
      <button (click)="deleteComponent(component)" type="button" class="btn btn-danger me-2">Delete</button>
    
      <button (click)="updateComponent(component)" type="button" class="btn btn-success me-2">Update</button>
      </div>
    
    
    </div>
    
    
