.buttons
  {
    display:flex; 
    justify-content: space-around;
     
  }
 
.form-group, .card-body, .buttons
{
  color:beige;
  background-color:#563c5c;
}


label, input
{
  margin-left: 10px;;
}

.btn {
 
  background-color: #cec8ef;
  margin: 5px;
  font-weight:bold;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; 
}
.card{
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
}
.btn:hover, .card:hover {
  transform: scale(1.1);
}

