.card
{
    margin-top:10px;
    color:white;
    background-color:#563c5c;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
}

.btn {

  background-color: #cec8ef;
  font-weight:bold;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; 
}

.btn:hover, .card:hover {
  transform: scale(1.1);
}

.buttons
{
  display: flex;
  justify-content: center;
}
