<div style="background-color: #e6e6fa;">
<div *ngIf="user" style="display:flex; justify-content: center; align-items: center;" >
    <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>
          <div class="card-text">
            <div>
            id: {{user.idUser }}
            </div>
            <div>
            username: {{user.userName}}
            </div>
            <div>
          email: {{user.email}}
            </div>
        
          </div>
         <a   class="nav-link" [routerLink]="'/users'" class="btn">Go to users</a>
        
        </div>
      </div>
    </div>
  </div>