.form-group, .card-body, .btn
{
  color:beige;
  background-color:#563c5c;
  padding-bottom: 10px;

}
.btn {
 
  margin:10px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; 
}

.btn:hover {
  transform: scale(1.1);
}

.buttons
{
  background-color: #cec8ef;
  font-weight:bold;
  display: flex;
  justify-content: center;
 
}
label, input, select
{
  margin-left: 10px;
}


