.position
{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.table
{
    color:white;
  width: 600px;
    background-color:#563c5c;
   
}
.btn
{
  background-color: #cec8ef;
  margin-bottom: 5px;
  font-weight:bold;
}
.buttons
{
  display:flex; 
  justify-content: space-around;
   
}

.form-group, .card-body
{
  color:beige;
  background-color:#563c5c;
  padding-bottom: 10px;

}
label, input, select
{
  margin-left: 10px;
}

h3{
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

div[style="background-color: #e6e6fa;"] {
  display: flex;
  justify-content: center;
  flex-direction:column;
 
}

.btn {
 
  margin:10px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; 
}

.btn:hover {
  transform: scale(1.1);
}
