
<div style="background-color: #e6e6fa; ">
  <div *ngIf="this.userRole==='admin'">
    <div style=" display: flex;justify-content: center;">
  <form *ngIf="isEditing" (ngSubmit)="updateUser()" class="card" style="width: 20rem;">
    <div style="display: flex; justify-content: center; flex-direction: column;">
      <div class="form-group">
        <label for="username">Username</label>
        <p>
          <input type="text" id="username" [(ngModel)]="editingUser.userName" name="userName" required style="width: 18rem">
        </p>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <p>
          <input type="password" id="password" [(ngModel)]="editingUser.password" name="password" required style="width: 18rem">
        </p>
      </div>
  
      <div class="form-group">
        <label for="firstName">First Name</label>
        <p>
          <input type="text" id="firstName" [(ngModel)]="editingUser.firstName" name="firstName" style="width: 18rem">
        </p>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <p>
          <input type="text" id="lastName" [(ngModel)]="editingUser.lastName" name="lastName" style="width: 18rem">
        </p>
      </div>
      <div class="form-group">
        <label for="Email">Email</label>
        <p>
          <input type="text" id="Email" [(ngModel)]="editingUser.email" name="email" style="width: 18rem">
        </p>
      </div>
      <div class="form-group">
        <label for="Role">Role</label>
        <select id="Role" [(ngModel)]="selectedRole" name="role" style="width: 18rem">
          <option *ngFor="let role of roleOptions" [value]="role">{{ role }}</option>
        </select>
      </div>
  
      <div class="buttons" style="background-color:#563c5c">
        <button type="submit" class="btn">Update</button>
        <button type="button" (click)="cancelUpdate()" class="btn">Cancel</button>
      </div>
    </div>
  </form>
</div>

<div>
 <h3 class="position"> List of Users</h3>
  <div style="display:flex;justify-content: center;">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.idUser }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td class="buttons">
  
          <button (click)="showUser(user)" type="button" class="btn"  class="btn" style="width: 7rem;" >Show User</button>
          <button (click)="deleteUser(user)" type="button" class="btn"  class="btn" style="width: 5rem;" >Delete</button>
          <button (click)="editUser(user)" type="button" class="btn"  class="btn" style="width: 5rem;" >Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>
</div>
